{% extends 'base.html' %}
{% load static %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static "js/chart.js" %}"></script>
  <script src="{% static "notes/chart_custom.js" %}"></script>

{% endblock javascript %}

{% block title %}
  Practice results
{% endblock title %}

{% block content %}

  <title>Practice results</title>

  {{ progress|json_script:"progress-data" }}
  {{ rt_per_sk|json_script:"rt_per_sk-data" }}
  <canvas id="staveChart" width="800" height="400"></canvas>

{% endblock content %}
