{% extends 'base.html' %}

{% block title %}
  Child Page Title
{% endblock %}

{% block content %}
  <h2>Learning Manager</h2>
  <div class="row mb-3">
    {% for learningscenario in learningscenarios %}
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">
              <a href='{% url 'practice' learningscenario_id=learningscenario.id %}' class="btn"
                 aria-label="Play the selected item">
                <i class="fas fa-play text-success"></i>
              </a>
              {{ learningscenario.instrument }}  <a class='small' href="{% url 'edit-learning-scenario' pk=learningscenario.id %}">edit</a></h5>
            <p class="card-text">
              {{ learningscenario.clef }}
              Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <a href="{% url 'new-learning-scenario' %}" class="btn btn-primary btn-lg">
    Set up a new learning scenario
  </a>


{% endblock content %}
