{% extends 'notes/instruments/trumpet.html' %}
{% load static %}


{% block keys %}
  <button class="valve rounded-pill input-button p-2 trumpet-b4 draggable" id='valve4' data-valve="4">4</button>
  <button class="valve rounded-pill input-button p-2 trumpet-b3 draggable" id='valve3' data-valve="3">3</button>
  <button class="valve rounded-pill input-button p-2 trumpet-b2 draggable" id='valve2' data-valve="2">2</button>
  <button class="valve rounded-pill input-button p-2 trumpet-b1 draggable" id='valve1' data-valve="1">1</button>
{% endblock keys %}
