{% block button_css %}
  <style>
    .input-button {
      min-width: 85px;
      background-color: white; /* Default white background */
      color: black; /* Default black text */
      border: 2px solid black; /* Optional: Add a black border */
      transition: all 0s ease; /* Smooth transition */
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    }

    .input-button:hover {
      background-color: gray; /* Change to gray when hovered */
      color: white; /* Text turns white on hover */
      border-color: gray; /* Optional: border changes to gray */
    }
  </style>
{% endblock button_css %}

<div id='trumpet-bottom' class="row justify-content-center align-items-center text-center">
  <div class="col">
    <button class="btn btn-primary rounded-pill btn-lg input-button m-2 p-3 trumpet-b1" data-valve="1">1</button>
    <button class="btn btn-primary rounded-pill btn-lg input-button m-2 p-3 trumpet-b2" data-valve="2">2</button>
    <button class="btn btn-primary rounded-pill btn-lg input-button m-2 p-3 trumpet-b3" data-valve="3">3</button>
  </div>
</div>

<div class="row justify-content-center align-items-center text-center">
  <div class="col-12 text-center mt-3">
    <button class="btn btn-secondary btn-lg mt-5" id='answer' style="width:100%;">buzz (space)</button>
  </div>
</div>


<div id='trumpet-right' style="display:none;" class="col-3 text-left">
  {% block keys %}
    <div>
      <button class="btn btn-primary rounded-pill btn-lg input-button my-3  p-4 trumpet-b3" data-valve="3">3</button>
    </div>
    <div>
      <button class="btn btn-primary rounded-pill btn-lg input-button my-3 p-4 trumpet-b2" data-valve="2">2</button>
    </div>
    <div>
      <button class="btn btn-primary rounded-pill btn-lg input-button my-3 p-4 trumpet-b1" data-valve="1">1</button>
    </div>
  {% endblock keys %}
</div>

<script>
  const orientation_manager = (function () {
    let api = {};
    let placeholder, trumpet_right, trumpet_bottom;

    function setup() {
      if (placeholder) return
      placeholder = document.getElementById('right-of-sheet-placeholder');
      trumpet_right = document.getElementById('trumpet-right');
      trumpet_bottom = document.getElementById('trumpet-bottom');

      placeholder.parentElement.replaceChild(trumpet_right, placeholder);
    }

    api.align_right = function () {
      setup();
      trumpet_right.style.display = 'block';
      trumpet_bottom.style.display = 'none';
    }

    api.align_bottom = function () {
      setup();
      trumpet_right.style.display = 'none';
      trumpet_bottom.style.display = 'block';
    }

    return api;
  }())
  orientation_manager.align_right();
</script>

{% block constants %}
  <script>
    window.keys = '123'
    window.nothing_selected = 'all up!'
    window.error_message = 'You pressed'
  </script>
{% endblock constants %}

<script>
  const instrument_manager = (function () {
    let api = {};

    // Listen for keydown events (when a key is pressed)
    document.addEventListener('keydown', function (event) {
      buttonlogic(event.key, true);
    });

    document.addEventListener('keyup', function (event) {
      buttonlogic(event.key, false);
    })

    function buttonlogic(key, is_active) {
      let el;

      if (window.keys.indexOf(key) !== -1) {
        el = 'trumpet-b' + key;
        const elements = Array.from(document.getElementsByClassName(el));
        if (is_active) elements.forEach(el => el.classList.add('active'));
        else elements.forEach(el => el.classList.remove('active'));
      } else if (key === ' ') {
        if (is_active) {
          answered();
        }
      }
    }

    function answered() {

      const buttons = document.getElementsByClassName('input-button');
      var buttons_down = [];
      for (var i = 0; i < buttons.length; i++) {
        if (buttons[i].classList.contains('active')) {
          const valve = buttons[i].dataset.valve;
          if (buttons_down.indexOf(valve) === -1) buttons_down.push(valve);
        }
      }
      buttons_down.sort();

      const keys_pressed = buttons_down.join('+') || '';
      const correct_keys = getCorrectKeysPressed();
      const correct = correct_keys.indexOf(keys_pressed) !== -1;
      let error_message;
      if (!correct) {
        error_message = correct_keys.join(", ");
        if (error_message.length === 0) error_message = window.nothing_selected
        error_message = "Correct answer: " + error_message + '\n'+ window.error_message +': '
        if (keys_pressed.length > 0) {
          error_message += keys_pressed;
        } else error_message += window.nothing_selected;
      }
      trial_manager.answer(correct, error_message);
    }

    function getCorrectKeysPressed() {
      let current_note = document.current_note;
      if (current_note in document.instrument_data) return document.instrument_data[current_note];
      const equiv_notes = getEnharmonicEquivalents(current_note);
      for (const equiv_note of equiv_notes) {
        if (equiv_note in document.instrument_data) return document.instrument_data[equiv_note];
      }
      throw new Error("No correct answer found for note " + current_note + ", for trumpet");
    }

    document.getElementById('answer').addEventListener('click', answered);
    return api;
  }());
</script>
